@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

$colors: (
  red: hsl(14, 86%, 42%),
  green: hsl(159, 69%, 38%),
  bg-cart: hsl(24, 45%, 98%),
  bg-main: hsl(13, 29%, 94%),
  Rose-300: hsl(14, 25%, 72%),
  Rose-400: hsl(7, 20%, 60%),
  text-light: hsl(12, 20%, 44%),
  text-dark: hsl(14, 65%, 9%),
);

:root {
  --border-card: 0.5rem;
}

body {
  display: grid;
  height: 100svh;
  width: 100vw;
  place-items: center;
  max-width: 1440px;
  background: map-get($colors, bg-main);
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  margin-inline: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  width: 100%;
  margin-block: 4rem;
}

button {
  cursor: pointer;
}

svg:not(.cart) {
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.left-side {
  .item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
      border-radius: var(--border-card);
      width: 16rem;
      height: 16rem;
    }

    .button-container {
      position: absolute;
      top: 15rem;
      left: calc(25%);
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 12rem;
      width: 8rem;
      height: 2rem;
      outline: 1px solid map-get($colors, text-dark);
      border-radius: 10rem;
    }

    div {
      button {
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        padding: 0.5rem;
        background: transparent;

        .cart {
          width: 1rem;
          height: 1rem;
        }
      }

      .cart-amount {
        width: 2rem;
        text-align: center;
      }
    }

    .not-selected {
      place-content: center;
      background: map-get($colors, bg-cart);

      button {
        width: 100%;
        border: 0;
      }
    }

    .selected {
      justify-content: space-around;
      background: map-get($colors, red);
      color: white;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid map-get($colors, bg-cart);
        border-radius: 100vw;
        color: white;
        padding: 0.25rem;
      }
    }

    .item-info {
      display: flex;
      flex-direction: column;

      .category {
        color: map-get($colors, text-light);
      }

      .name {
        color: map-get($colors, text-dark);
      }

      .price {
        color: map-get($colors, red);
      }

      .name,
      .price {
        font-weight: 600;
      }
    }
  }
}

.right-side {
  background: map-get($colors, bg-cart);
  border-radius: var(--border-card);
  padding: 1rem;
  height: fit-content;

  h3 {
    color: map-get($colors, red);
  }
}

.highlight {
  outline: 2px solid map-get($colors, red);
}
